/*Estilos generales*/

*{
    margin:0px;
    padding:0px;
    font-family: sans-serif,Arial, Helvetica;
    text-decoration: none;

}

.box p,.box h2,.box h3,.box ul{
    margin-top: 5px;
    margin-bottom: 5px;
}

.box ul,.box ol {
    margin-left:20px;
    margin-bottom: 10px;
}

body {
    background-color: rgb(230, 243, 238);

}

/*Estilos cabecera*/

header {
    width: 1212px;
    height: 140px;
    background-color: rgb(20, 50, 24);
    margin: 0px auto;

}

#logotipo{
    width: 35%;
    height: 140px;
    margin: 0px auto;
}

#logotipo img{
    display:block;
    float:left;
    width: 60px;
    margin-top: 20px;
}

#logotipo h1 {
    display: block;
    float:left;
    margin-top: 40px;
    margin-left: 20px;
    letter-spacing: 2px;
    font-weight: lighter;
    color:#2ba977;
}

/*Estilos barra de navegación*/

nav {
    width: 1250px;
    height: 40px;
    margin:0 auto;
    background-color: #2c3830;
    border: 1px solid #3c5e48;
    box-shadow: 0px 22px 22px rgb(95, 103, 96);
    font-size: 15px;
}
nav ul{
    list-style: none;
    text-decoration: none;
}
nav ul li{
    height: 40px;
    float: left;
}
nav ul li a{
    display: block;
    padding: 10px;
    padding-right: 10px;
    color:  rgb(195, 228, 217)
}
nav ul li a:hover{
background: #2ba977;
box-shadow: 0px opx 5px #354c43 inset;
color: white;
transition: all 300ms;
}
.barra{
    width: 1250px;
    margin: 0 auto;
}
.esquina-izquierda{
    display: block;
    border-left: 20px solid transparent;
    border-top:10px solid #354c43;
    float:left;
}
.esquina-derecha{
    display: block;
    border-right: 20px solid transparent;
    border-top:10px solid #354c43;
    float:right;
}
.relleno-barra{
    display: block;
    width: 1210px;
    height: 10px;
    background:#354c43;
    float: left;
}

/* Estilos contenido central */

#content{
    width: 1212px;
    min-height: 930px;
    margin: 0 auto;
    margin-bottom: 30px;
    margin-top: 40px;
}
.box{
    background: rgb(239, 255, 248);
    width: 90%;
    min-height: 930px;
    padding: 20px;
    border: 1px solid rgb(130, 189, 165);
    border-radius: 10px;
    margin:0 auto;

}
.title{
    color:  rgb(43, 63, 55);
    letter-spacing: 1px;
    font-size: 30px;
    margin-bottom: 10px;
}
footer{
    width: 1250px;
    background-color:rgb(126, 215, 138);
    border: 1px solid rgb(130, 189, 165);
    text-align: center;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 20px;
    box-shadow: 0px 0px 20px rgb(88, 119, 92);;
}